
.tituloPrincipal{
    padding-left: 30px;
}

p{
    text-align: center;
            ;
}

.tituloCentralizado{
    text-align: center;
    /* height: 150px;
    border: 10px solid #000000 ;
    padding: 20px;
    margin: 40px;
     */
}

.principal{
    background: #cccccc;
    padding: 20px;
}



em strong{
    color: red;
}

#mision{
    font-size: 20px;
}

#banner{
    width: 100%;

}

.diferenciales{
 background-color: #FFFFFF;   
 padding: 30px;
}


.items{
    font-style: italic;    
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}