p{
    text-align: center;
            ;
}

h1{
    text-align: center;
    height: 150px;
    border: 10px solid #000000 ;
    padding: 20px;
    margin: 40px;
    
}
body{
    background: #cccccc;
}

em strong{
    color: red;
}

#mision{
    font-size: 20px;
}

#banner{
    width: 100%;

}